{% load static %}
<!DOCTYPE html>
<html>

	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
		<link rel="stylesheet" href="{% static 'styles.css' %}">
		<title>Drchrono Kiosk | Checkin</title>
	</head>

	<body>
		<div class="vertical-center">
			<div class="container center">
				<h1>Welcome!</h1>
				<p>Please sign in with the form below.</p>
				<form action="/get_patient/" method="post">
					{% csrf_token %}
					{{ form.as_p }}
					<input type="submit" value="Submit →" />
				</form>
			</div>
		</div>
	</body>

</html>