<ul>
		{% for a in appointments %}
		<li>
			<p>{{a.first_name}} {{a.last_name}}</p>
			<p>{{a.duration}}</p>
			{% if a.status == "" %}
			<p>None</p>
			{% else %}
			<p>{{a.status}}</p>
			{% endif %}
			{% if a.status == "Arrived" %}
			<p>Wait time: {{a.wait_time}} minutes</p>
			<button onclick="appointment_start({{a.pid}})">Start Appointment</button>
			{% elif a.status == "In Session" %}
			<button onclick="appointment_end({{a.pid}})">Finish Appointment</button>
			{% endif %}
		</li>
		{% endfor %}
</ul>

<footer>
	<script>
	function appointment_start(pid) {
		$.ajax({
			type: "POST",
        	url: "{% url 'show_patients' %}",
        	data: {'pid': pid, 'status': "In Session", csrfmiddlewaretoken:'{{csrf_token}}'},
        	success: function() {
        		$.ajax({
					type: "POST",
        			url: "{% url 'dashboard' %}",
        			data: {'pid': pid, csrfmiddlewaretoken:'{{csrf_token}}'}
    			});
        	}
    	});
    	
	}

	function appointment_end(pid) {
		$.ajax({
			type: "POST",
        	url: "{% url 'show_patients' %}",
        	data: {'pid': pid, 'status': "Complete", csrfmiddlewaretoken:'{{csrf_token}}'}
    	});
	}
	</script>
</footer>