<ul class="patient_list">
		{% for a in appointments %}
		<li class="patient">
			<div class="row">
				<div class="col col-8">
					{{a.first_name}} {{a.last_name}} | {{a.scheduled_time}} | Duration: {{a.duration}} minutes |
					{% if a.status == "" %}
					Status: Not Arrived
					{% else %}
					Status: {{a.status}}
					{% endif %}
					{% if a.status == "Arrived" %}
					| Wait time: {{a.wait_time}} minutes
				</div>
				<div class="col col-4 text-right">
					<button onclick="appointment_start({{a.pid}})">Start Appointment</button>
				</div>
					{% elif a.status == "In Session" %}
				</div>
				<div class="col col-4 text-right">
					<button onclick="appointment_end({{a.pid}})">Finish Appointment</button>
				</div>
					{% endif %}
			</div>
		</li>
		{% endfor %}
</ul>

<footer>
	<script type="text/javascript">
	function appointment_start(pid) {
		var patient_pid = pid;
		$.ajax({
			type: "POST",
        	url: "{% url 'show_patients' %}",
        	data: {'pid': pid, 'pre_status': "Arrived", 'status': "In Session", csrfmiddlewaretoken:'{{csrf_token}}'},
        	success: function() {
        		$.ajax({
					type: "POST",
        			url: "{% url 'dashboard' %}",
        			data: {'pid': patient_pid, 'status': "In Session", csrfmiddlewaretoken:'{{csrf_token}}'}
    			});
        	}
    	});
    	
	}

	function appointment_end(pid) {
		var patient_pid = pid;
		$.ajax({
			type: "POST",
        	url: "{% url 'show_patients' %}",
        	data: {'pid': pid, 'pre_status': "In Session", 'status': "Complete", csrfmiddlewaretoken:'{{csrf_token}}'},
        	success: function() {
        		$.ajax({
					type: "POST",
        			url: "{% url 'dashboard' %}",
        			data: {'pid': patient_pid, csrfmiddlewaretoken:'{{csrf_token}}'}
    			});
        	}
    	});
    	
	}

	</script>
</footer>